header{
  background-color: #0f0d10;
}



.collapse{
  background-color: #0f0d10;
  padding-right: 0;

}

.toggle{
  background-color: #0f0d10;

}

@media (min-width: 576px) {
  .header-image {
    max-width: 200px; /* Imposta la larghezza massima desiderata */
  }
}

