<!-- <header>
  <div class="px-3 py-2 border-bottom">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
        <img class="col-3 justify-content-start" src="https://t3.ftcdn.net/jpg/04/03/00/68/360_F_403006870_h8lU4z0wxIi93XSW2tKaaeFODuCF4ugb.jpg">
      </div>
    </div>
  </div>
  <div class=" py-2 border-bottom mb-3">
    <div class="container d-flex flex-wrap justify-content-center">
      <div class="text-end">
        <button
		type="button"
		class="btn btn-outline-primary"
		(click)="collapse.toggle()"
		[attr.aria-expanded]="!isCollapsed"
		aria-controls="collapseExample"
	>
		Toggle with Function
	</button>
  <div class=" collapse"  #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="card toggle ">
      <ul class="nav col-12 justify-content-center">
        <li *ngIf="isUser || isAdmin || isWarehouse" class="col-4">
          <a routerLink="/home" class="nav-link text-secondary">
            Home
          </a>
        </li>
        <li *ngIf="!isUser && !isAuthenticated$" class="col-4">
          <a routerLink="/orderList" class="nav-link text-white">
            Orders
          </a>
        </li>
        <li *ngIf="isUser || isAdmin || isWarehouse" class="col-4">
          <a routerLink="/productList" class="nav-link text-white">
            Products
          </a>
        </li>
        <li *ngIf="isAdmin" class="col-4">
          <a routerLink="/userList" class="nav-link text-white">
            Customers
          </a>
        </li>
        <li *ngIf="isUser" class="col-4">
          <a [routerLink]="['/profile', userId]" class="nav-link text-white">
            Profilo
          </a>
        </li>
      </ul>    </div>
  </div>

        <button type="button" routerLink="/auth/login" class="btn btn-light text-dark me-2" *ngIf="!(isAuthenticated$ | async)">Login</button>
        <button type="button" (click)="logout()" class="btn btn-primary" *ngIf="isAuthenticated$ | async">Logout</button>
        <button *ngIf="isUser && (isAuthenticated$ | async)" type="button" routerLink="/cart" class="btn btn-light text-dark me-2">
          <i class="bi bi-cart-check"></i>
        </button>
      </div>
    </div>
  </div>
</header> -->
<header>
  <div class="row justify-content-center border-bottom border-bottom-white">
    <img
      class="col-4 justify-content-start"
      src="https://t3.ftcdn.net/jpg/04/03/00/68/360_F_403006870_h8lU4z0wxIi93XSW2tKaaeFODuCF4ugb.jpg"
    />
  </div>
  <div class="row justify-content-center">
    <button
      type="button"
      class="btn text-white"
      (click)="collapse.toggle()"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample"
    >
      Visualizza pagine
    </button>
    <div class="collapse row mb-4" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <div class="d-flex justify-content-center">
        <ul class="toggle d-flex justify-content-around list-unstyled col-12 mt-4">
          <li *ngIf="isUser || isAdmin || isWarehouse" class="col-2">
            <a routerLink="/home" class="nav-link text-secondary">Home</a>
          </li>
          <li *ngIf="!isUser && (isAuthenticated$ | async)" class="col-2">
            <a routerLink="/orderList" class="nav-link text-white">Orders</a>
          </li>
          <li *ngIf="isUser || isAdmin || isWarehouse" class="col-2">
            <a routerLink="/productList" class="nav-link text-white">
              Products
            </a>
          </li>
          <li *ngIf="isAdmin" class="col-2">
            <a routerLink="/userList" class="nav-link text-white">
              Customers
            </a>
          </li>
          <li *ngIf="isUser" class="col-2">
            <a [routerLink]="['/profile', userId]" class="nav-link text-white">
              Profilo
            </a>
          </li>
        </ul>
      </div>
      <div class="row justify-content-center">
        <button type="button" (click)="logout()" class="button  col-6" *ngIf="isAuthenticated$ | async">Logout</button>
        <button type="button" routerLink="/auth/login" class="button col-6 mx-4" *ngIf="!(isAuthenticated$ | async)">Login</button>
        <button type="button" routerLink="/auth/register" class="button col-6" *ngIf="!(isAuthenticated$ | async)">Register</button>
        <button *ngIf="isUser && (isAuthenticated$ | async)" type="button" routerLink="/cart" class="button ms-3 col-6">
          <i class="bi bi-cart-check"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
</header>
