<div class="container">
  <div class="row" *ngFor="let user of userList">
    <p class="col-3">{{user.id}}</p>
    <p class="col-3"*ngIf="hasRole(user.roles, 'COMPANY')">{{user.companyName}}</p>
    <p class="col-3"*ngIf="!hasRole(user.roles, 'COMPANY')">{{user.username}}</p>
    <p class="col-3"*ngIf="hasRole(user.roles, 'COMPANY') && user.pIVA">pIVA: {{user.pIVA}}</p>
    <button type="button" class="button col-3" [routerLink]="['/user-details', user.id]">
      Dettagli utente
    </button>  </div>
</div>
