<div class="container d-flex justify-content-center align-items-center vh-90">
  <div class="card rounded-5 m-5 p-5" style="width: 28rem">
    <form>
      <h4 class="text-center">Register:</h4>
      <input
        type="text"
        name="username"
        [(ngModel)]="registerData.username"
        class="form-control my-4 rounded-5 w-100"
        placeholder="Username"
      />
      <input
      type="email"
        name="email"
        [(ngModel)]="registerData.email"
        class="form-control my-4 rounded-5 w-100"
        placeholder="Email"
        />
        <input
        type="password"
        name="password"
        [(ngModel)]="registerData.password"
        class="form-control my-4 rounded-5 w-100"
        placeholder="Password"
        />
        <input
          type="text"
          name="address"
          [(ngModel)]="registerData.address"
          class="form-control my-4 rounded-5 w-100"
          placeholder="Indirizzo"
        />
        <input
          type="text"
          name="city"
          [(ngModel)]="registerData.city"
          class="form-control my-4 rounded-5 w-100"
          placeholder="Città"
        />
      <!-- Campi visibili solo se la checkbox è spuntata -->
      <input
        *ngIf="privateOrCompany"
        type="text"
        name="companyName"
        [(ngModel)]="registerData.companyName"
        class="form-control my-4 rounded-5 w-100"
        placeholder="Nome azienda"
      />
      <input
        *ngIf="privateOrCompany"
        type="text"
        name="vat"
        [(ngModel)]="registerData.pIVA"
        class="form-control my-4 rounded-5 w-100"
        placeholder="Partita IVA"
      />
      <div class="d-flex align-items-center mb-4">
        <input
        (click)="privateOrCompany = !privateOrCompany"
        name="vendorOrNot"
          type="checkbox"
        />
        <span class="ms-2">Sei un azienda?</span>
      </div>
      <button (click)="signUp()" class="btn-center button">Registrati</button>
    </form>
  </div>
</div>
