.switch {
  position: relative;
  display: inline-block;
  width: 40px; /* Ridotto da 60px */
  height: 24px; /* Ridotto da 34px */
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  width: 28px; /* Ridotto da 60px */
  height: 16px; /* Ridotto da 34px */
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px; /* Ridotto da 26px */
  width: 14px; /* Ridotto da 26px */
  left: 1px;
  bottom: 1px; /* Leggermente spostato verso l'alto */
  background-color: white;
  transition: .4s;
}

/* Styling when the input is checked */
input:checked + .slider {
  background-color: #9ffc88;
}

input:focus + .slider {
  box-shadow: 0 0 1px #9ffc88;
}

input:checked + .slider:before {
  transform: translateX(12px); /* Ridotto da 26px */
}

/* Rounded sliders */
.slider.round {
  border-radius: 12px; /* Ridotto da 34px */
}

.slider.round:before {
  border-radius: 50%;
}

.checkbox{
  background-color: white;
  width: 20px;
  height: 20px;
  border: solid 1px #000;
  position: relative;
}


