<div *ngIf="cartList && cartList.length > 0; else emptyCart">
  <div *ngFor="let item of cartList">
    <ng-container *ngIf="item.product">
      <p>Product Name: {{ item.product.name }}</p>
      <p>Quantity: {{ item.quantity }}</p>
      <p>Price: {{ item.product.price | currency:'EUR' }}</p>
      <p *ngIf="missingProductIds.includes(item.product.id)">Prodotto non più disponibile</p>
      <button (click)="incrementQuantity(item)" *ngIf="!missingProductIds.includes(item.product.id)">+</button>
      <button *ngIf="item.quantity > 1 && !missingProductIds.includes(item.product.id)" (click)="decrementQuantity(item)">-</button>
      <button (click)="removeFromCart(item)">🗑️</button>
    </ng-container>
  </div>
  <div class="total-price">
    <p>Total Price: {{ totalPrice | currency:'EUR' }}</p>

    <div *ngIf="isCompanyUser">
      <input type="checkbox" id="payLater" [(ngModel)]="payLater">
      <label for="payLater">Vuoi pagare in futuro?</label>
    </div>

    <button (click)="createOrder()">Conferma ordine</button>
  </div>
</div>
<ng-template #emptyCart>
  <p>Your cart is empty.</p>
</ng-template>

<!-- <div class="d-flex">
  <div *ngIf="cartList && cartList.length > 0; else emptyCart">
    <div class="d-flex" *ngFor="let item of cartList">
      <div>
        <img [src]="item.product.imageURL" alt={{item.product.name}}>
      </div>
      <div class="flex-column">
        <p>{{item.product.name}}</p>
        <p>{{item.product.price}}</p>
        <p>Quantità: {{item.quantity}}</p>
        <p>Spesa totale per questo prodotto: {{item.product.price * item.quantity}}</p>
      </div>
    </div>
  </div>
  <div>
    <p>Totale carrello: {{totalPrice}}</p>
  </div>
</div> -->
