<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="product.imageUrl" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p *ngFor="let item of product.categories" class="card-text">{{item}}</p>
        <h5 class="card-title">{{product.description}}</h5>
        <h5 class="card-title">{{product.price}}</h5>


      </div>
    </div>
  </div>
</div>
