<div
[ngClass]="{
  'bg-warning': !product.available,
   'bg-success': product.available
  }"class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="product.imageURL" class="img-fluid rounded-start" alt={{product.name}}>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p *ngFor="let item of product.categories" class="card-text">{{item.name}}</p>
        <h5 class="card-title">{{product.price}}</h5>

        <button type="button" class="button" [routerLink]="['/product-details', product.id]">
          Dettagli
        </button>

        <div *ngIf="isUser">
          <i *ngIf="!showTooltip[product.id!]" (click)="toggleTooltip()" class="bi bi-bag-plus-fill"></i>
          <div *ngIf="showTooltip[product.id!]">

            <label for="quantity">Quantità:</label>
            <div class="input-group mb-3">
              <input type="number" [(ngModel)]="quantity" id="quantity" name="quantity" min="0" class="form-control" [value]="quantity">
              <p *ngIf="quantityWarnings">Imposta una quantità maggiore di 0 per aggiungere al carrello.</p>
            </div>
            <button (click)="addToCart()">Conferma ordine</button>
            <button *ngIf="productInCart  && quantity >0" (click)="removeFromCart()">Rimuovi dal carrello</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <img [src]="product.imageURL" [alt]="product.name">
  <div class="d-flex">
    <p>{{product.name}}</p>
<p class="text-truncate">{{product.description}}</p>
  </div>
</div>
