@import 'bootstrap/scss/bootstrap';

@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,body{
  font-family: "Montserrat", sans-serif;
}

.button {
  width: 100px;
  padding: 12px 15px;
  border: 1px solid #a09b96;
  color: black;
  font-weight: 400;
  cursor: pointer;
  border-radius: 50px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}
.button::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #333333;
  position: absolute;
  bottom: -100%;
  left: 0;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.5s ease;
}
.button:hover {
  color: #fff;
}
.button:hover::after {
  bottom: 0;
  border-radius: 0;
}
body {
  background-image: url('./assets/openart-image_ektzWaCW_1720539263093_raw.jpg');
  background-size: cover; /* Adatta l'immagine per coprire l'intera area */
  background-repeat: no-repeat; /* Evita che l'immagine si ripeta */
  background-attachment: fixed; /* L'immagine di sfondo rimane fissa durante lo scrolling */
  background-position: center; /* Centra l'immagine */
  margin: 0; /* Rimuove il margine del body */
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Impedisce lo scroll orizzontale */
  position: relative;
  z-index: 0;
}

body::before {
  content: '';
  position: fixed; /* Fissa l'overlay durante lo scrolling */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Copre l'intera altezza della viewport */
  background: rgba(0, 0, 0, 0.5); /* Overlay scuro */
  z-index: -1; /* Assicura che l'overlay sia dietro il contenuto del body */
}

.content {
  position: relative;
  z-index: 1; /* Assicura che il contenuto sia sopra l'overlay */
}


